<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <base href="http://localhost/polvo/dev-php-challenge/pedrooliveira/app/" target="_blanks"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/angularjs/angular.min.js"></script>
    <script src="libs/angularjs/angular-locale_pt-br.js"></script>
    <script src="libs/angularjs/angular-cookies.min.js"></script>
    <script src="libs/sweetalert/sweetalert.min.js"></script>

    <script src="js/module_app/app.js"></script>
    <script src="js/module_app/controllers.js"></script>
    <script src="js/module_app/services.js"></script>
    <script src="js/module_app/directives.js"></script>

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="libs/sweetalert/sweetalert.css"/>

    <title>Polvo Challange - Login Admin</title>
</head>
<body ng-app="app" ng-controller="polvoLoginControl">
<div class="text-center center login">
    <form ng-submit="login(user)">
        <div class="logo">
            <img src="https://www.polvo.com.br/images/logo-polvo.png" style="width: 100%;"/>
        </div>
        <br/>
        <br/>
        <div class="input-group">
            <label for="inputEmail" class="sr-only">E-mail</label>
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <input type="text" ng-model="user.login" aria-describedby="sizing-addon1" id="inputEmail" class="form-control input-lg" placeholder="Login" required/>
        </div>
        <br/>
        <div class="input-group">
            <label for="inputPassword" class="sr-only">Senha</label>
            <span class="input-group-addon " id="sizing-addon2">&nbsp;#&nbsp;</span>
            <input type="password" ng-model="user.senha" aria-describedby="sizing-addon2" id="inputPassword" class="form-control input-lg" placeholder="Senha" required/>
        </div>
        <div class="input-group">
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Logar</button>
        </div>
    </form>
</div>
</div>
</body>
</html>